<div ng-show="$ctrl.step==1">
    <div class="jumbotron px-5" style="margin-bottom: 0; background-color: transparent">
        <div class="container">


            <a href="" class="pr-4 Business__Stepper">Mobile verification</a>
            <a href="" class="pr-4 Business__Stepper">Password</a>
            <a href="" class="pr-4 Business__Stepper">Mobile verification</a>
            <a href="" class="pr-4 Business__Stepper" style="text-decoration: underline;"> <b>About you</b></a>
        </div>
    </div>

    <div class="container px-5" style="bottom: 0;">
        <div class="row">
            <div class="col">
                <h4 class="h1 display-4"> Business onboarding</h4>
                <div ng-show="$ctrl.step == 1">
                    <h5 style="font-weight: 100;">
                        <li style="list-style: none;" class="pb-3">
                            Tell us a few details of your company so we can create your account.
                        </li>
                    </h5>
                </div>
            </div>
            <div class="col">
                <div class="jumbotron jumbotron-fluid" style="background-color: #F8F8F8; position: relative">
                    <div class="container">
                        <h4 class="h4" style="font-weight: 100">What is your email address?</h4><br>
                        <input placeholder="Enter your email address here" class="form-control mb-2" type="text"
                               ng-model="$ctrl.company.myEmail">
                        <button ng-click="$ctrl.step1()" type="button" class="btn btn-primary btn-sm">Next step</button>

                    </div>
                    <p style=" position: absolute; bottom: 0; margin: 0 25%;">Already have an account? <a href="">Sign
                        in</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--******************-->
<!--STEP 2 -->
<!--******************-->

<div ng-show="$ctrl.step==2">
    <div class="jumbotron px-5" style="margin-bottom: 0; background-color: transparent">
        <div class="container">

            <a href="" class="pr-4 Business__Stepper">Mobile verification</a>
            <a href="" class="pr-4 Business__Stepper">Password</a>
            <a href="" class="pr-4 Business__Stepper" style="text-decoration: underline;"><b>Mobile verification</b></a>
            <a href="" class="pr-4 Business__Stepper">About you</a>
        </div>
    </div>

    <div class="container px-5" style="bottom: 0;">
        <div class="row">
            <div class="col">
                <h4 class="h1 display-4"> Business onboarding</h4>
                <div>
                    <!--<h5 style="font-weight: 100;">You're almost there. Kindly just provide us with some-->
                    <!--information and we'll set you up.</h5>-->
                    <h5 style="font-weight: 100;">
                        <li style="list-style: none;" class="pb-3">
                            <i style="color: #4d4dff" class="fas fa-check-circle"></i>
                            {{$ctrl.company.myEmail}}
                        </li>


                    </h5>
                </div>
            </div>
            <div class="col">
                <div class="jumbotron jumbotron-fluid" style="background-color: #F8F8F8; position:relative;">
                    <div class="container">
                        <h4 class="h4" style="font-weight: 100">What is your name?</h4><br>
                        <input class="form-control mb-2" type="text" ng-model="$ctrl.company.firstName"
                               placeholder="first name">
                        <input class="form-control mb-2" type="text" ng-model="$ctrl.company.lastName"
                               placeholder="last name">
                        <button ng-click="$ctrl.step2()" style="" type="button" class="btn btn-primary btn-sm">Next
                            step
                        </button>
                    </div>
                    <p style=" position: absolute; bottom: 0; margin: 0 25%;">Already have an account? <a href="">Sign
                        in</a></p>

                </div>
            </div>
        </div>
    </div>
</div>

<!--******************-->
<!--STEP 3 -->
<!--******************-->

<div ng-show="$ctrl.step==3">
    <div class="jumbotron px-5" style="margin-bottom: 0; background-color: transparent">
        <div class="container">

            <a href="" class="pr-4 Business__Stepper">Mobile verification</a>
            <a href="" class="pr-4 Business__Stepper">Password</a>
            <a href="" class="pr-4 Business__Stepper" style="text-decoration: underline;"><b>Mobile verification</b></a>
            <a href="" class="pr-4 Business__Stepper">About you</a>
        </div>
    </div>

    <div class="container px-5" style="bottom: 0;">
        <div class="row">
            <div class="col">
                <h4 class="h1 display-4"> Business onboarding</h4>
                <div>
                    <!--<h5 style="font-weight: 100;">You're almost there. Kindly just provide us with some-->
                    <!--information and we'll set you up.</h5>-->
                    <h5 style="font-weight: 100;">
                        <li style="list-style: none;" class="pb-3">
                            <i style="color: #4d4dff" class="fas fa-check-circle"></i>
                            {{$ctrl.company.myEmail}}
                        </li>
                        <li style="list-style: none;" class="pb-3">
                            <i style="color: #4d4dff" class="fas fa-check-circle"></i>
                            {{$ctrl.company.firstName + ' ' + $ctrl.company.lastName}}
                        </li>


                    </h5>
                </div>
            </div>
            <div class="col">
                <div class="jumbotron jumbotron-fluid" style="background-color: #F8F8F8; position:relative;">
                    <div class="container">
                        <h4 class="h4" style="font-weight: 100">Create your password</h4><br>
                        <input class="form-control mb-2" type="password" ng-model="$ctrl.company.myPassword"
                               placeholder="Enter your password">
                        <input class="form-control mb-2" type="password" ng-model="$ctrl.company.confirmPassword"
                               placeholder="Re-enter your password">
                        <button ng-click="$ctrl.step3()" style="" type="button" class="btn btn-primary btn-sm">Next
                            step
                        </button>
                    </div>
                    <p style=" position: absolute; bottom: 0; margin: 0 25%;">Already have an account? <a href="">Sign
                        in</a></p>

                </div>
            </div>
        </div>
    </div>
</div>


<!--******************-->
<!--STEP 4 -->
<!--******************-->

<div ng-show="$ctrl.step==4">
    <div class="jumbotron px-5" style="margin-bottom: 0; background-color: transparent">
        <div class="container">

            <a href="" class="pr-4 Business__Stepper">Mobile verification</a>
            <a href="" class="pr-4 Business__Stepper" style="text-decoration: underline;"><b>Password</b></a>
            <a href="" class="pr-4 Business__Stepper">Mobile verification</a>
            <a href="" class="pr-4 Business__Stepper">About you</a>
        </div>
    </div>

    <div class="container px-5" style="bottom: 0;">
        <div class="row">
            <div class="col">
                <h4 class="h1 display-4"> Business onboarding</h4>
                <div>
                    <!--<h5 style="font-weight: 100;">You're almost there. Kindly just provide us with some-->
                    <!--information and we'll set you up.</h5>-->
                    <h5 style="font-weight: 100;">
                        <ul>
                            <li style="list-style: none;" class="pb-3">
                                <i style="color: #4d4dff" class="fas fa-check-circle"></i>
                                {{$ctrl.company.myEmail}}
                            </li>
                            <li style="list-style: none;" class="pb-3">
                                <i style="color: #4d4dff" class="fas fa-check-circle"></i>
                                {{$ctrl.company.firstName + ' ' + $ctrl.company.lastName}}
                            </li>
                            <li style="list-style: none;" class="pb-3">
                                <i style="color: #4d4dff" class="fas fa-check-circle"></i>
                                Password: ********
                            </li>
                        </ul>
                    </h5>
                </div>
            </div>
            <div class="col">
                <div class="jumbotron jumbotron-fluid" style="background-color: #F8F8F8; position:relative;">
                    <div class="container">
                        <h4 class="h4" style="font-weight: 100">What is your phone number?</h4><br>
                        <input class="form-control mb-2" type="number" ng-model="$ctrl.company.mobileNo"
                               placeholder="+92355427285">
                        <button ng-click="$ctrl.step4()" style="" type="button" class="btn btn-primary btn-sm">Next
                            step
                        </button>
                    </div>
                    <p style=" position: absolute; bottom: 0; margin: 0 25%;">Already have an account? <a href="">Sign
                        in</a></p>

                </div>
            </div>
        </div>
    </div>
</div>

<!--******************-->
<!--STEP 5 -->
<!--******************-->

<div ng-show="$ctrl.step==5">
    <div class="jumbotron px-5" style="margin-bottom: 0; background-color: transparent">
        <div class="container">

            <a href="" class="pr-4 Business__Stepper" style="text-decoration: underline;"><b>Mobile verification</b></a>
            <a href="" class="pr-4 Business__Stepper">Password</a>
            <a href="" class="pr-4 Business__Stepper">Mobile verification</a>
            <a href="" class="pr-4 Business__Stepper"> About you</a>
        </div>
    </div>

    <div class="container px-5" style="bottom: 0;">
        <div class="row">
            <div class="col">
                <h4 class="h1 display-4"> Business onboarding</h4>
                <div>
                    <!--<h5 style="font-weight: 100;">You're almost there. Kindly just provide us with some-->
                    <!--information and we'll set you up.</h5>-->
                    <h5 style="font-weight: 100;">
                        <ul>
                            <li style="list-style: none;" class="pb-3">
                                <i style="color: #4d4dff" class="fas fa-check-circle"></i>
                                {{$ctrl.company.myEmail}}
                            </li>
                            <li style="list-style: none;" class="pb-3">
                                <i style="color: #4d4dff" class="fas fa-check-circle"></i>
                                {{$ctrl.company.firstName + '' + $ctrl.company.lastName}}
                            </li>
                            <li style="list-style: none;" class="pb-3">
                                <i style="color: #4d4dff" class="fas fa-check-circle"></i>
                                {{$ctrl.company.myPassword}}
                            </li>
                            <li style="list-style: none;" class="pb-3">
                                <i style="color: #4d4dff" class="fas fa-check-circle"></i>
                                {{$ctrl.company.mobileNo}}
                            </li>
                        </ul>
                    </h5>
                </div>
            </div>
            <div class="col">
                <div class="jumbotron jumbotron-fluid" style="background-color: #F8F8F8; position:relative;">
                    <div class="container">
                        <h4 class="h4" style="font-weight: 100">Verify the code sent to
                            <b>{{$ctrl.company.mobileNo}}</b></h4>
                        <br>
                        <label class="aria-label" style="color: steel#4d4dff;" for="otpNumber">Enter the verification
                            code</label><br>
                        <input class="form-control mb-2" id="otpNumber" type="number" ng-model="$ctrl.company.OTP"
                               placeholder="Please enter OTP here">
                        <!--<small>If you do not receive the OTP within 3 minutes , <br>please click <span>Resend OTP</span> or call at +914578521 </small>-->
                        <button ng-click="$ctrl.step5()" style="" type="button" class="btn btn-primary btn-sm">Next
                        </button>
                        <button ng-click="$ctrl.step3()" style="" type="button" class="btn btn-primary btn-sm">
                            Resend OTP
                        </button>
                    </div>
                    <p style=" position: absolute; bottom: 0; margin: 0 25%;">Already have an account? <a href="">Sign
                        in</a></p>

                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-2">-->
<!--</div>-->
<!--<div class="col-8">-->
<!--<div ng-show="$ctrl.step == 1">-->
<!--<h3 class="h1" style="font-weight: 100;">Welcome to company sign-up</h3>-->
<!--<form>-->
<!--<div class="form-group">-->
<!--<label for="exampleInputEmail1">Email address</label>-->
<!--<input ng-model="$ctrl.company.myEmail" type="email" class="form-control"-->
<!--id="exampleInputEmail1"-->
<!--aria-describedby="emailHelp"-->
<!--placeholder="Enter email">-->
<!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone-->
<!--else.-->
<!--</small>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="exampleInputEmail1">Company name </label>-->
<!--<input ng-model="$ctrl.company.companyName" type="text" class="form-control"-->
<!--id="exampleInputEmail1"-->
<!--aria-describedby="emailHelp"-->
<!--placeholder="Enter password">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="exampleInputPassword1">Password</label>-->
<!--<input ng-model="$ctrl.company.myPassword" type="password" class="form-control"-->
<!--id="exampleInputPassword1"-->
<!--placeholder="Password">-->
<!--</div>-->
<!--<button ng-click="$ctrl.step1()" type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>-->
<!--</form>-->
<!--</div>-->

<!--</div>-->
<!--<div class="col-2">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;**************************&ndash;&gt;-->
<!--&lt;!&ndash;Step 2 &ndash;&gt;-->
<!--&lt;!&ndash;**************************&ndash;&gt;-->

<!--<div ng-show="$ctrl.step == 2">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-2">-->
<!--</div>-->
<!--<div class="col-8">-->
<!--<h4>Enter your phone number</h4>-->
<!--<input ng-model="$ctrl.company.countryCode" type="text">-->
<!--<input ng-model="$ctrl.company.mobileNumber" type="text">-->
<!--<button ng-click="$ctrl.step2()" class="btn btn-primary"> Submit</button>-->
<!--</div>-->
<!--<div class="col-2">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;**************************&ndash;&gt;-->
<!--&lt;!&ndash;Step 3 &ndash;&gt;-->
<!--&lt;!&ndash;**************************&ndash;&gt;-->

<!--<div ng-show="$ctrl.step == 3">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-2">-->
<!--</div>-->
<!--<div class="col-8">-->
<!--<h4>Enter your OTP number</h4>-->
<!--<input maxlength="1" ng-model="$ctrl.company.otp1" type="text">-->
<!--<input maxlength="1" ng-model="$ctrl.company.otp2" type="text">-->
<!--<input maxlength="1" ng-model="$ctrl.company.otp3" type="text">-->
<!--<input maxlength="1" ng-model="$ctrl.company.otp4" type="text">-->
<!--<button ng-click="$ctrl.step3()" class="btn btn-primary"> Submit</button>-->
<!--<button ng-click="$ctrl.ResendOtp()" class="btn btn-primary"> Resend OTP</button>-->

<!--</div>-->
<!--<div class="col-2">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->